<!DOCTYPE html>
<html>
 <head>
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <script src="js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
   <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
     <h1> Флэшкарточкер  </h1>
       <section id="container">
             <nav style="font-size: 19px; float: right;">
             <ul class="nav pull-right">
             <li><a href="#">Все карточки</a></li>
             <li><a href="#">Добавить карточку</a></li>
            </ul>
         </nav>
      </section>
     </div>
    </header>
 <%= yield %>
 </body>
</html>
